body {
    width: 30vw;
    margin: 0 auto;
    background: #000;
    color: aliceblue;
    text-align: center;
}
.headi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #000;
    color:rgb(66, 224, 3);
    gap: 2rem;
}
a {
    text-decoration: none;
    color: rgb(66, 224, 3);
}
li {
    list-style-type: none;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
span {
    color: rgb(66, 224, 3);
}